<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Bona+Nova&family=Fira+Code:wght@300&family=Raleway+Dots&family=Raleway:ital,wght@0,800;1,100;1,400;1,600&display=swap" rel="stylesheet">


  </head>
  <body>
    <header>We-Blog</header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        {{#if logged_in}}
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/sign-up">Sign Up!</a></li>
        {{/if}}
      </ul>
    </nav>
    <main>
      {{{body}}}
    </main>

    <footer>footer!</footer>
  </body>
</html>