<div class="posts">
 <div class="post">
    <h2>TESTING</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
      explicabo necessitatibus provident, dolorem maiores porro harum natus, nam
      doloremque deserunt pariatur voluptates culpa! Aperiam voluptas aut animi
      vel. Sed, totam molestiae tenetur, eveniet optio eius sunt asperiores illo
      reiciendis, consequatur odit in exercitationem aliquid neque. Eius sit
      neque porro beatae?</p>
  </div>
  <div class="caption">
    <p>By author on date</p>
  </div>
  <div class="post">
    <h2>title</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
      explicabo necessitatibus provident, dolorem maiores porro harum natus, nam
      doloremque deserunt pariatur voluptates culpa! Aperiam voluptas aut animi
      vel. Sed, totam molestiae tenetur, eveniet optio eius sunt asperiores illo
      reiciendis, consequatur odit in exercitationem aliquid neque. Eius sit
      neque porro beatae?</p>
  </div>
  <div class="caption">
    <p>By author on date</p>
  </div>

  {{#each posts}}
    <div class="post">
      <h2>{{title}}</h2>
      <p>{{body}}</p>
    </div>
    <div class="caption">
      <p>By {{User.username}} on {{format_date createdAt}}</p>
    </div>
  {{/each}}
</div>

