<div class="posts">
  <h1>All Posts</h1>
  {{#each posts}}
    <div class="post">
      <h2>{{title}}</h2>
      <p>{{body}}</p>
    </div>
    <div class="caption">
      <p>By {{User.username}} on {{format_date createdAt}}</p>
    </div>
  {{/each}}
</div>

