<div>
<form id="sign-up-form">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
    </div>
    <button type="submit">Sign Up</button>
</div>
<script src="/js/sign-up.js"></script>