<div>
<form id="sign-up-form">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
    </div>
    <button type="submit">Sign Up</button>
</div>
<script src="/js/sign-up.js"></script>