/* style.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
nav {
  width: 100%;
  padding: 20px;
  background: #ccc;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;

}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
  header,
  footer {
    font-size: 18px;
  }
}
